babel==2.16.0
configobj==5.0.9
cryptography==43.0.0
flask==3.0.3
flask-babel==4.0.0
flask-wtf==1.2.1
furo==2024.8.6
gputil==1.4.0
ipy==1.01
myst-parser==4.0.0
numexpr==2.10.1
numpydoc==1.7.0
pillow==9.5.0
polib==1.2.0
psutil==6.0.0
pyadl==0.1
pyamdgpuinfo==2.1.6; sys_platform == 'Linux'
pyopenssl==24.2.1
pystray==0.19.5
requests==2.32.3
sphinx==7.2.6
werkzeug==3.0.3
