{% extends 'base.html' %}
{% block head %}
{% endblock head %}

{% block content %}
        <!-- Plotly JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/plotly.js-dist-min/plotly.min.js') }}"></script>

        <section class="py-5 offset-anchor" id="Dashboard">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    {% for chart in chart_types %}
                        <div class="card h-100 shadow border-0 rounded-0 bg-dark mb-5">
                            <div class="card-header bg-dark">{{ _(translations[chart]['bare']) }}</div>
                            <div class="card-body">
                                <div class="chart-plotly" id="chart-{{chart}}"></div>
                            </div>
                            {% if translations[chart]['name'] %}
                                <div class="card-footer bg-dark">{{ translations[chart]['name'] }}</div>
                            {% endif %}
                        </div>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </section>
{% endblock content %}

{% block scripts %}
        <script>
            // this will run every second to update the charts
            update_charts = () => {
                $.ajax({
                    url: "/callback/dashboard",
                    type: "GET",
                    contentType: 'application/json;charset=UTF-8',
                    data: {
                    },
                    dataType:"json",
                    success: function (data) {
                        for(let i in data['graphs']) {
                            Plotly.react(
                                data['graphs'][i].layout.meta.id,
                                data['graphs'][i].data,
                                data['graphs'][i].layout,
                                data['graphs'][i].config
                            ).then(function(value) {
                                resizeObserver.observe(value);
                            });
                        }
                    }
                });
            };

            // setup update timer
            setInterval(update_charts, 1000);
            // to make timer dynamic set it as a variable
            // var timer = setInterval(update_charts, 1000);
            // to stop use the following
            // clearInterval(timer);

            // resize charts if browser size changed between updates
            const resizeObserver = new ResizeObserver(entries => {
              for (let entry of entries) {
                Plotly.Plots.resize(entry.target);
              }
            });
        </script>
{% endblock scripts %}
