body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #303436;
    color: #eee;
    margin-top: 65px;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.navbar {
    background-color: #141414;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}