html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #303436;
    color: #eee;
    margin-top: 65px;
    position: absolute;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

.navbar {
    background-color: #141414;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.container {
  margin: auto;
  width: 75%;
  padding: 10px;
}
