name: localize

on:
  push:
    branches: [nightly]
    paths:  # prevents workflow from running unless these files change
      - '.github/workflows/localize.yml'
      - 'retroarcher.py'
      - 'locale/retroarcher.po'
      - 'pyra/**.py'
      - 'web/templates/**'
  workflow_dispatch:

jobs:
  localize:
    name: Update Localization
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3.1.0

    - name: Install Python 3.9
      uses: actions/setup-python@v3  # https://github.com/actions/setup-python
      with:
        python-version: '3.9'

    - name: Set up Python 3.9 Dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install -r requirements.txt

    - name: Update Strings
      run: |
        python ./scripts/_locale.py --extract

    - name: git diff
      run: |
        # disable the pager
        git config --global pager.diff false

        # print the git diff
        git diff locale/retroarcher.po

        # set the variable with minimal output
        OUTPUT=$(git diff --numstat locale/retroarcher.po)
        echo "git_diff=${OUTPUT}" >> $GITHUB_ENV

    - name: git reset
      if: ${{ env.git_diff == '1	1	locale/retroarcher.po' }}  # only run if more than 1 line changed
      run: |
        git reset --hard

    - name: Create/Update Pull Request
      uses: peter-evans/create-pull-request@v4
      with:
        add-paths: |
          locale/*.po
        token: ${{ secrets.GH_PAT }}  # must trigger PR tests
        commit-message: New localization template
        branch: localize/update
        delete-branch: true
        base: nightly
        title: New Babel Updates
        body: |
          Update report
          - Updated with *today's* date
          - Auto-generated by [create-pull-request][1]

          [1]: https://github.com/peter-evans/create-pull-request
        labels: |
          babel
          l10n
