name: pytest

on:
  pull_request:
    branches: [master, nightly]
    types: [opened, synchronize, edited, reopened]

jobs:
  pytest:
    name: pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v3  # https://github.com/actions/setup-python
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install -r requirements-dev.txt

      - name: Test with pytest
        run: |
          pytest
